<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>power-grid-admin</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <script src=<%= htmlWebpackPlugin.options.path %>/node_modules/potree/libs/other/BinaryHeap.js></script>
		<script src=<%= htmlWebpackPlugin.options.path %>/node_modules/potree/libs/other/stats.js></script>
		<script src=<%= htmlWebpackPlugin.options.path %>/node_modules/potree/libs/tween/tween.min.js></script>
		<script src=<%= htmlWebpackPlugin.options.path %>/node_modules/potree/libs/proj4/proj4.js></script>
		<script src=<%= htmlWebpackPlugin.options.path %>/node_modules/potree/libs/plasio/js/laslaz.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>/node_modules/potree/libs/three.js/build/three.min.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>/node_modules/potree/build/potree.js></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
